// Reference: 
// https://www.rootstrap.com/blog/how-to-use-module-scss-with-tailwind-in-next-js
// https://www.youtube.com/watch?v=X2QZ40B5E4w

$primary-blue: #2196f3bd;
$primary-color: #64ff00;
$disabled-color: #9e9e9ea8;
$transition: 1s;